form {
    display: inline-block;
    width: 100%
}

form input {
    display: inline-block;
    width: calc(50% - 20px);
    float: left;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;

}

input::placeholder{
    font-style: italic;
}
form input:nth-child(2) {
    margin-left: 40px;
}

form textarea { 
    display: inline-block;
    width: 100%;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    font-style: italic;
    outline: none;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}


@media (max-width: 600px) {
    form input {
        width:100%;
    }
form input:nth-child(2) {
    margin-left: 0;
    }
}